# Normalize repository text to LF.
* text=auto eol=lf

# Windows command scripts require CRLF.
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files.
*.7z binary
*.class binary
*.ear binary
*.gif binary
*.gz binary
*.ico binary
*.jar binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.rar binary
*.tar binary
*.war binary
*.zip binary
